body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap:50px;
    align-items: center;
    background-color: #42f566;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    gap:50px;
    width: 80%;
    align-items: center;
}
h1{
    text-align: center;

}
.select-container{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;

    justify-content: space-between;
}
select{
    width: 300px;
    font-size: 30px;
    height: 50px;
}
h2{
    text-align: center;
}
.tiktok{
    border-radius: 30px;

}
.instagram{
    border-radius: 30px;
}
p{
}
table{
border-collapse: collapse;
background-color: #32B077;
}
tr{
border: 1px solid black;
}
tr:first-child{
    border-radius: 20px 20px 0 0;
}
td{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    background-size:contain;
    font-size: 23px;
    background-position: center;
    background-repeat: no-repeat;
    color:white;
    padding: 3px;
 
}

.save{
border-radius: 10px;
}
.select-day{
    border-radius:10px;
}
.select-hour{
    border-radius:10px;
}
.select-electricity{
    border-radius:10px;
}
.select-day{
    color:white;
    background-color:#39C39D;
}
.select-hour{
    color:white;
    background-color:#39C39D;
}
.select-electricity{
    color:white;
    background-color:#39C39D;
}
.save{
    color:white;
    border:none;
    background:transparent;
    padding: 0;
    font-size: 40px;
}